
@{
    ViewBag.Title = "BatchList";
}
@Html.Partial("_SideMenu")
<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    Batch
                </h3>
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="#" class="m-nav__link m-nav__link--icon">
                            <i class="m-nav__link-icon la la-home"></i>
                        </a>
                    </li>
                    <li class="m-nav__separator">
                        -
                    </li>
                    <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                            <span class="m-nav__link-text">
                                List
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div>

            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Batch List
                        </h3>
                    </div>
                </div>
                <!--<div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <a href="@Url.Action("Create", "Employee")" class="btn btn-focus m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
                                <span>
                                    <i class="la la-plus"></i>
                                    <span>New Employee</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>-->
            </div>
            <div class="m-portlet__body">
                <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded">
                    <table id="employer-data-table" class="datatable__table table table-striped" width="100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>ID</th>
                                <th>Batch Name</th>
                                <th>Contact Name</th>
                                <th>Contact Phone</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<script type="text/javascript">
    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    };

        function format ( d ) {
        return '<table class="table table-sm" cellpadding="5" cellspacing="0" border="0" style="padding-left:150px;" width="100%">'+
            '<tr>'+
                '<td>Contact Name 2:</td>'+
                '<td>'+d.RecipientName2+'</td>'+
                '<td>Phone 2:</td>'+
                '<td>'+d.Phone2+'</td>'+
            '</tr>'+
            '<tr>'+
                '<td>Address:</td>'+
                '<td colspan="2">'+d.Address+'</td>'+
            '</tr>'+
            '<tr>'+
                '<td>State:</td>'+
                '<td>'+d.State+'</td>'+
                '<td>LGA:</td>'+
                '<td>'+d.LGA+'</td>'+
            '</tr>'+
        '</table>';
    }

    var assetListVM;
        $(function () {
            assetListVM = {
                dt: null,
                init: function () {
                    dt = $('#employer-data-table').DataTable({
                        "serverSide": true,
                        "language": {
                                "processing": "<img src='../img/spinner.gif'>"
                        },
                        "processing": true,
                        "StateSave": false,
                        "ajax": {
                            "type": 'GET',
                            "url": "@Url.Action("GetBatchList3", "StatementOptions")",
                        },
                        "columns": [
                            {
                                "class": "details-control",
                                "orderable": false,
                                "data": null,
                                "defaultContent": ""
                            },
                            {"data": "ID"},
                            {"data": "BatchName" },
                            {"data": "RecipientName" },
                            {"data": "Phone" },
                        ],
                        "aoColumns": [
                            {
                                "class": "details-control",
                                "orderable": false,
                                "data": null,
                                "defaultContent": ""
                            },
                            {"mData": "ID", sDefaultContent: ""},
                            {"mData": "BatchName", sDefaultContent: ""},
                            {"mData": "RecipientName", sDefaultContent: ""},
                            {"mData": "Phone", sDefaultContent: ""},
                            {}
                        ],
                        responsive: {
                            details: {
                                display: $.fn.dataTable.Responsive.display.modal( {
                                    header: function ( row ) {
                                        var data = row.data();
                                        return 'Employer Details';
                                    }
                                } ),
                                renderer: $.fn.dataTable.Responsive.renderer.tableAll( {
                                    tableClass: 'table'
                                } )
                            }
                        },
                        columnDefs: [
                            {
                                "searchable": false,
                                "orderable": false,
                                "targets": -1
                            },{
                                "data": null,
                                "defaultContent": "",
                                "targets": -1
                            },
                            { targets : [5],
                                mRender : function (data, type, row, meta) {
                                    var url = '@Url.Action("BatchDetails", "StatementOptions")' + '?batch=' + row.ID + '&addid=' + row.AddressId;
                                    return '<a href="'+url+'" class="btn btn-info batchBtn" data-id="'+row.ID+'" data-name="'+row.BatchName+'" id="preview">Details</a>';
                                }
                            },

                        ],
                        "lengthMenu": [[25, 50, 100, 200], [25, 50, 100, 200]],
                    });
                }
            }
            // initialize the datatables
            assetListVM.init();
        });

        var detailRows = [];

        $('#employer-data-table tbody').on( 'click', 'tr td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = dt.row( tr );
            var idx = $.inArray( tr.attr('id'), detailRows );

            if ( row.child.isShown() ) {
                tr.removeClass( 'details' );
                row.child.hide();

                // Remove from the 'open' array
                detailRows.splice( idx, 1 );
            }
            else {
                tr.addClass( 'details' );
                row.child( format( row.data() ) ).show();

                // Add to the 'open' array
                if ( idx === -1 ) {
                    detailRows.push( tr.attr('id') );
                }
            }
        });
</script>

