
@{
    ViewBag.Title = "Index";
}
<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    Statement Options
                </h3>
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="#" class="m-nav__link m-nav__link--icon">
                            <i class="m-nav__link-icon la la-home"></i>
                        </a>
                    </li>
                    <li class="m-nav__separator">
                        -
                    </li>
                    <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                            <span class="m-nav__link-text">
                                Statement
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div>

            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="row">
            <div class="col-lg-12">
                @if (TempData["bError"] != null)
                {
                    <alert class="alert alert-danger">@TempData["bError"]</alert>
                }
                @if (TempData["bMsg"] != null)
                {
                    <alert class="alert alert-success">@TempData["bMsg"]</alert>
                }
                <!--begin::Portlet-->
                <div class="m-portlet">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Select A Statement Option
                                </h3>
                            </div>
                        </div>
                    </div>
                    <form class="m-form" method="post" action="@Url.Action("Index", "StatementOptions")">
                        <div class="m-portlet__body">
                            <div class="m-form__group form-group row">
                                <label class="col-2 col-form-label">Preferred delivery method:</label>
                                <div class="col-10">
                                    <div class="m-radio-inline" id="statementOption">
                                        <label class="m-radio">
                                            <input type="radio" name="statementOption" value="1" required> Deliver By Employer
                                            <span></span>
                                        </label>
                                        <label class="m-radio">
                                            <input type="radio" name="statementOption" value="2" required> Deliver In Batches
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="option1">
                                <h4>1st Contact Person Details</h4>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">FullName:</label>
                                    <div class="col-6">
                                        <input class="form-control m-input ContactName" type="text" value="" name="ContactName" required>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">Phone Number:</label>
                                    <div class="col-6">
                                        <input class="form-control m-input ContactPhone" type="text" value="" name="ContactPhone" required>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">Address:</label>
                                    <div class="col-6">
                                        <textarea class="form-control m-input ContactAddress" name="ContactAddress" required></textarea>
                                    </div>
                                </div>
                                <h4>2nd Contact Person Details</h4>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">FullName:</label>
                                    <div class="col-6">
                                        <input class="form-control m-input" type="text" value="" name="ContactName1">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">Phone Number:</label>
                                    <div class="col-6">
                                        <input class="form-control m-input" type="text" value="" name="ContactPhone2">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">Address:</label>
                                    <div class="col-6">
                                        <textarea class="form-control m-input" name="ContactAddress2"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="option2">
                                <div class="m-form__group form-group row">
                                    <label class="col-2 col-form-label">Available Batches:</label>
                                    <div class="col-9">
                                        <div class="loading2"><img src="~/img/spinner.gif" width="40" /></div>
                                        <div class="m-radio-inline" id="statementOption2">
                                            
                                        </div>
                                        <input type="hidden" name="AddressId" value="" class="AddressId" id="AddressId"/>
                                    </div>
                                    <div class="col-1"><button type="button" class="btn btn-info" data-toggle="modal" data-target="#newBatchModal">New Batch</button></div>
                                </div>
                            </div>
                            <br/>
                            <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded" id="emTable">
                                <hr/>
                                <table id="employer-data-table" class="datatable__table table table-striped" width="100%">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th scope="col">PIN</th>
                                            <th scope="col">Last Name</th>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Middle Names</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <div class="m-portlet__foot m-portlet__foot--fit">
                            <div class="m-form__actions m-form__actions">
                                <div class="row">
                                    <div class="col-lg-2"></div>
                                    <div class="col-lg-10">
                                        <button type="submit" class="btn btn-success btnInport">Submit</button>
                                        <button type="reset" class="btn btn-secondary">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!--end::Portlet-->
            </div>
        </div>
        <div class="row">
            @ViewBag.dat
        </div>
    </div>
</div>

<div class="modal fade" id="newBatchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel1">New Batch</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="m-form" method="post" action="@Url.Action("Batch", "StatementOptions")" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group m-form__group row">
                        <label for="example-text-input" class="col-2 col-form-label">Batch Name:</label>
                        <div class="col-10">
                            <input class="form-control m-input" type="text" value="" name="BatchName" required>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-6">
                            <h5>1st Contact Person Details</h5>
                            <hr />
                            <div class="form-group m-form__group row">
                                <label for="example-text-input" class="col-3 col-form-label">FullName:</label>
                                <div class="col-9">
                                    <input class="form-control m-input" type="text" value="" name="ContactName" required>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label for="example-text-input" class="col-3 col-form-label">Phone Number:</label>
                                <div class="col-9">
                                    <input class="form-control m-input" type="text" value="" name="ContactPhone" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <h5>2nd Contact Person Details</h5>
                            <hr />
                            <div class="form-group m-form__group row">
                                <label for="example-text-input" class="col-3 col-form-label">FullName:</label>
                                <div class="col-9">
                                    <input class="form-control m-input" type="text" value="" name="ContactName2">
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label for="example-text-input" class="col-3 col-form-label">Phone Number:</label>
                                <div class="col-9">
                                    <input class="form-control m-input" type="text" value="" name="ContactPhone2">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="form-group m-form__group row">
                        <label for="example-text-input" class="col-1 col-form-label">Address:</label>
                        <div class="col-11">
                            <input class="form-control m-input" type="text" name="ContactAddress" required>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label for="example-text-input" class="col-1 col-form-label">Address 1:</label>
                        <div class="col-11">
                            <input class="form-control m-input" type="text" name="ContactAddress1" value="" >
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label for="example-text-input" class="col-1 col-form-label">State:</label>
                        <div class="col-11">
                            <input class="form-control m-input" type="text" value="" name="ContactState" required>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label for="example-text-input" class="col-1 col-form-label">LGA:</label>
                        <div class="col-11">
                            <input class="form-control m-input" type="text" value="" name="ContactLGA" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<script type="text/javascript">
$(document).ready(function (){
    $(".option1").hide();
    $(".option2").hide();
    $("#emTable").hide();
    $(document).on('change', '#statementOption input', function() {
        $('#statementOption2').empty();
        var statementOption = $("#statementOption input[type='radio']:checked").val();
        if(statementOption == "1"){
            $('.ContactName').attr('required', true);
            $('.ContactPhone').attr('required', true);
            $('.ContactAddress').attr('required', true);
            $('.batchId').attr('required', false);
            $(".option1").show();
            $("#emTable").hide();
            $(".option2").hide();
        }else{
            $('.ContactName').attr('required', false);
            $('.ContactPhone').attr('required', false);
            $('.ContactAddress').attr('required', false);
            $('.batchId').attr('required', true);
            $(".option1").hide();
            $(".option2").show();
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetBatchLists", "StatementOptions")",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function() {
                    $('.loading2').show();
                },
                success: function (data) {
                    if(data == ""){
                        $("#emTable").hide();
                    }else if(data == "Error has occured"){
                        $("#emTable").hide();
                    }else{
                        $("#emTable").show();
                    }
                    $.each(data, function (index, item) {
                        batch = item;
                        jQuery.grep(item, function(batch, i) {
                             var url = '@Url.Action("BatchDetails", "StatementOptions")' + '?batch=' + batch.ID + '&addId=' + batch.AddressId;
                             $('#statementOption2').append('<label class="m-radio"><input type="radio" name="BatchId" value="'+batch.ID+'" data-addressid="'+batch.AddressId+'" class="batchId" id="batchId"><a href="'+url+'" target="_blank">'+ batch.BatchName +'</a><span></span></label>');
                        });
                    });
                },
                complete: function() {
                     $('.loading2').hide();
                }
            });
        }
    });

    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    };

    var EmployerID = "@Session["EMPLOYER_ID"]";

    var assetListVM;
        $(function () {
            assetListVM = {
                dt: null,
                init: function () {
                    dt = $('#employer-data-table').DataTable({
                        "serverSide": true,
                        "language": {
                             "processing": "<img src='./img/spinner.gif'>"
                        },
                        "processing": true,
                        "ajax": {
                            "type": 'POST',
                            "url": "@Url.Action("GetCompanyEmployee", "Employee")",
                            "data": {EmployerID: EmployerID}
                        },
                        "columns": [
                            {},
                            {"data": "PIN"},
                            {"data": "LastName" },
                            {"data": "FirstName"},
                            {"data": "MiddleName" },
                        ],
                        "aoColumns": [
                            {},
                            {"mData": "PIN", sDefaultContent: ""},
                            {"mData": "LastName", sDefaultContent: ""},
                            {"mData": "FirstName", sDefaultContent: ""},
                            {"mData": "MiddleName", sDefaultContent: ""},
                        ],
                        "responsive": {
                           details: {
                               display: $.fn.dataTable.Responsive.display.modal( {
                                   header: function ( row ) {
                                       var data = row.data();
                                       return 'Employer Details';
                                   }
                               } ),
                               renderer: $.fn.dataTable.Responsive.renderer.tableAll( {
                                   tableClass: 'table'
                               } )
                           }
                       },
                       "columnDefs": [{
                         'targets': 0,
                         'searchable': false,
                         'orderable': false,
                         'className': 'dt-body-center',
                         'render': function (data, type, row, meta){
                             return '<input type="checkbox" name="id[]" value="' + row.PIN + '">';
                         }
                      }],
                        "lengthMenu": [[50, 100, 200, 500], [50, 100, 200, 500]],
                    });
                }
            }
            // initialize the datatables
            assetListVM.init();
        });

        $('#employer-select-all').on('click', function(){
            var rows = table.rows({ 'search': 'applied' }).nodes();
            $('input[type="checkbox"]', rows).prop('checked', this.checked);
            alert(rows);
       });

        $('#employer-data-table tbody').on('change', 'input[type="checkbox"]', function(){
          if(!this.checked){
             var el = $('#employer-select-all').get(0);
             if(el && el.checked && ('indeterminate' in el)){
                el.indeterminate = true;
             }
          }
       });



        $(document).on('change', '#batchId', function(){
            $('#AddressId').val("");
            var addressId = $(this).data('addressid');
            $('#AddressId').val(addressId);
        });
});
</script>