
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CenterLayout.cshtml";
}
<section class="login-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 offset-4 change-password-sec">
                <div class="d-logo"><img src="~/img/logo.png" alt="Stanbic IBTC Logo" /></div>
                <h1 class="text-center">Employer Service Portal</h1>
                <h2 class="text-center">Change Password</h2>

                <form class="login-form" action="@Url.Action("ChangePassword", "Login")" method="post">
                    <div class="form-group">
                        @if (ViewBag.Error != null)
                        {
                            <alert class="alert alert-danger">@ViewBag.Error</alert>
                        }
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="text-uppercase">Old Password</label>
                        <input type="hidden" class="form-control" name="WebUserID" value="@Session["WebUserID"]" required>
                        <input type="password" class="form-control" name="OldPassword" placeholder="Old Password" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="text-uppercase">New Password</label>
                        <input type="password" class="form-control" name="newPassword" placeholder="New Password" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="text-uppercase">Confirm Password</label>
                        <input type="password" class="form-control" name="ConfPassword" placeholder="Confirm Password" required>
                    </div>
                    <button type="submit" class="btn btn-primary float-left">Change Password</button>
                    <div class="clearfix"></div>
                    <hr />
                    <div class="form-group">
                        <a href="@Url.Action("Index", "Login")">Return To Login</a>
                    </div>
                </form>
                <div class="copy-text">&copy; @DateTime.Now.Year - Stanbic IBTC</div>
            </div>
        </div>
</section>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")